02.classes/13.security/Asset_Generator_error.json
{
  "name": "Asset_Generator_error",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        160,
        224
      ],
      "id": "9a313c7b-4493-40d5-8e90-bebe164936b4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "51oN9QrCM5ZMZ1Zu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=### Context\nYou are an expert prompt engineer for Flux. The user will provide a raw request for an image.  \nYour role is to **rewrite and enhance** the request into a polished Flux prompt that maximizes image quality, detail, and coherence.  \n\n### Instructions\n- Take the user’s input and expand it into a clear, descriptive scene.  \n- Add rich details such as mood, lighting, textures, atmosphere, and style that fit the user’s intent.  \n- Ensure the result avoids unwanted text, watermarks, or UI elements.  \n- Keep the prompt natural and visual; avoid over-explaining or breaking immersion.  \n- Always return a **single optimized Flux prompt** ready for image generation.\n\n\n### Output format\nThe output shouldn't contain a header or any other character such as \\n. *>, -, _, :). Avoid newline characters (\\n). Avoid adding text to the image"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        208,
        32
      ],
      "id": "6ea69b1a-2db9-4995-b71e-2c79b477c25e",
      "name": "BACKGROUND"
    },
    {
      "parameters": {
        "content": "## Background Generator\n** Replicate API",
        "height": 460,
        "width": 1900
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        80,
        -64
      ],
      "typeVersion": 1,
      "id": "d52a77a5-9d6d-4f97-bb25-1f89fd38060b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.replicate.com/v1/models/black-forest-labs/flux-schnell/predictions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"<INSERT PAYLOAD>\":\"\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        32
      ],
      "id": "90f95fcb-bc15-4dcb-8c69-69442e6edd98",
      "name": "FLUX1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ou0lQdc4UVd07fbF",
          "name": "Replicate_SENPAI"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "1"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        288,
        224
      ],
      "id": "45700a71-d654-49af-af4d-47a372457fea",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -192,
        32
      ],
      "id": "11df735f-d021-4b0b-b3a8-89fe12538662",
      "name": "When chat message received",
      "webhookId": "fa3c8ee2-c17d-4e8d-8071-4aae2e577fb6"
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "value": "0AHeY5mz2jtDaUk9PVA",
          "mode": "list",
          "cachedResultName": "AI",
          "cachedResultUrl": "https://drive.google.com/drive/folders/0AHeY5mz2jtDaUk9PVA"
        },
        "folderId": {
          "__rl": true,
          "value": "root",
          "mode": "list",
          "cachedResultName": "/ (Root folder)",
          "cachedResultUrl": "https://drive.google.com/drive"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1760,
        32
      ],
      "id": "afa3a64b-d491-4358-826d-ca02f6060c83",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lqun8d4prbR6oLAF",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## REPLICATE API\n### Payload and Credentials Missing\n\n\n\n\n\n\n\n\n\n\n\n\n\nDocumentation: https://replicate.com/prunaai/flux-schnell/examples?input=json",
        "height": 416,
        "width": 384,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        480,
        -48
      ],
      "typeVersion": 1,
      "id": "23339f4a-ee63-4f9c-974b-a54235f20be6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## REPLICATE API\n### Credentials Missing\n\n\n\n\n\n\n\n\n\n\n\n\n\nDocumentation: https://replicate.com/prunaai/flux-schnell/examples?input=json",
        "height": 416,
        "width": 720,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        976,
        -48
      ],
      "typeVersion": 1,
      "id": "12f2d6a6-ad5f-4d4f-a87a-3595c0f5c9b9",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "url": "={{ $json.output }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        32
      ],
      "id": "54fa4004-e195-4413-83ea-04cc49a7ebad",
      "name": "DOWNLOAD",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ou0lQdc4UVd07fbF",
          "name": "Replicate_SENPAI"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.urls.get }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1168,
        32
      ],
      "id": "b762b95a-3cb7-4871-843e-15aa054602c6",
      "name": "GET URL",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ou0lQdc4UVd07fbF",
          "name": "Replicate_SENPAI"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "BACKGROUND",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "BACKGROUND": {
      "main": [
        [
          {
            "node": "FLUX1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FLUX1": {
      "main": [
        []
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "BACKGROUND",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "BACKGROUND",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DOWNLOAD": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET URL": {
      "main": [
        [
          {
            "node": "DOWNLOAD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9dae0657-330f-4b4b-aa6d-946510214dcf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "21c01bb5c5f3f34d6e572cf61183391f18fedb8ad88d29888d48ec9c5f89b544"
  },
  "id": "Dk539rxWJEOYeycf",
  "tags": []
}