02.classes/04.rag_vector_db_feed/Demo RAG Loader.json
{
  "name": "Demo RAG Loader",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -432,
        -96
      ],
      "id": "91fd47fa-eda6-4bc2-b705-8d941fd48c07",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "*",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "19MZ4GNKBBM7xpzaQcPGI15dmfItylNzM",
            "mode": "list",
            "cachedResultName": "es",
            "cachedResultUrl": "https://drive.google.com/drive/folders/19MZ4GNKBBM7xpzaQcPGI15dmfItylNzM"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -224,
        -96
      ],
      "id": "b6c85651-bdb5-4443-8e61-1c477ffae47a",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lqun8d4prbR6oLAF",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -16,
        -96
      ],
      "id": "6ed9251a-6760-455a-8e84-27cf9f7e94f8",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lqun8d4prbR6oLAF",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "t800es",
          "mode": "list",
          "cachedResultName": "t800es"
        },
        "options": {
          "pineconeNamespace": "t800data"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        192,
        -96
      ],
      "id": "58e506a1-d7c5-4140-928e-683c48d6c34b",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "lg0wdvFlAKQdL6QG",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        144,
        112
      ],
      "id": "6efe79e0-eccc-4a4a-a98c-21700e6e6e2c",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "51oN9QrCM5ZMZ1Zu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        336,
        112
      ],
      "id": "6abf582e-0458-44e3-84ac-aa103c4ccadb",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        432,
        320
      ],
      "id": "394c8fef-313f-454a-91c0-29c80f602b07",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "885067a9-3a0c-4899-bc3c-ec4dc79795d0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "21c01bb5c5f3f34d6e572cf61183391f18fedb8ad88d29888d48ec9c5f89b544"
  },
  "id": "5L5EUf6bQejoP33A",
  "tags": []
}