02.classes/09.orchestration/Sub_WF_CRM.json
{
  "name": "Sub_WF_CRM",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -96,
        320
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        32,
        560
      ],
      "id": "62a4b5b6-9a60-46bf-be19-400dfbec512d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "51oN9QrCM5ZMZ1Zu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1CZV1sn9sUM8SDVUcAwoOD3g3dceTavxdP8eEiKJNoDc",
          "mode": "list",
          "cachedResultName": "CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CZV1sn9sUM8SDVUcAwoOD3g3dceTavxdP8eEiKJNoDc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CZV1sn9sUM8SDVUcAwoOD3g3dceTavxdP8eEiKJNoDc/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        288,
        528
      ],
      "id": "2fb8b98b-33df-4c93-b926-429f0424d739",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iWKoKA5bMxBR72kk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "You are a customer information lookup agent.\n\nGOAL\nReceive a query with a customer identifier (for example: email, CustomerID, or name). Search the CRM data source and return ONLY the requested customer’s information as a JSON object.\n\nREQUIREMENTS\n1) Input will specify a customer identifier such as CustomerID, email, or name.\n2) Find the matching customer in the CRM.\n3) Return ONLY one customer object in JSON format. Do not return explanations, text, markdown, or code fences.\n\nOUTPUT FORMAT\nThe JSON object must contain exactly these fields:\n{\n  \"CustomerID\": \"\",\n  \"Name\": \"\",\n  \"Email\": \"\",\n  \"Phone\": \"\",\n  \"City\": \"\",\n  \"Status\": \"\",\n  \"Plan\": \"\",\n  \"TotalSpentUSD\": \"\"\n}\n\nCONTENT RULES\n- Values must be taken exactly from the CRM data source.\n- If a field is missing in the source, leave it as an empty string \"\".\n- If the customer does not exist, return:\n  {\"CustomerID\":\"\",\"Name\":\"\",\"Email\":\"\",\"Phone\":\"\",\"City\":\"\",\"Status\":\"\",\"Plan\":\"\",\"TotalSpentUSD\":\"\"}\n- Do not invent or hallucinate data.\n- Do not return multiple matches. If more than one match is possible, return the first exact match.\n\nCRITICAL\n- Output must be valid JSON, one single object, no line breaks, no markdown, no extra text.\n- Never include explanations or commentary; output ONLY the JSON object.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        128,
        320
      ],
      "id": "61f30ac6-65a7-49dd-bd1b-a4f4ba080db8",
      "name": "AI Agent"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4febf2a3-2e3a-493a-bb3a-17f69a5bfa32",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "21c01bb5c5f3f34d6e572cf61183391f18fedb8ad88d29888d48ec9c5f89b544"
  },
  "id": "ITyg83UXePJpH8gB",
  "tags": []
}